footer {
   padding-top: 3rem;
   background-color: var(--base-color);
   color: white;
}
footer h6{
    font-size: 54px;
    font-family: Inter-Bold;
}
.copyright{
    background-color: var(--copyright-color);
    display: flex;
    justify-content: center;
    color: white;
}
@media only screen and (min-width: 348px) and (max-width: 425px) {
    .copyright, p{
       font-size: 0.8rem !important;
    }
}
@media only screen and (min-width: 200px) and (max-width: 347px) {
    .copyright, p{
       font-size: 0.7rem !important;
    }
}