.header-container {
    background-image: url('/Public/Images/background.png'); 
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat; 
    background-color: white;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    /* height: 100vh; */
}
.Joberiss {
    font-size: 41px;
    color: var(--base-color);
    font-family: Inter-Bold;
}
.navbar-default li a {
    font-size: 1rem;
    font-family: Poppins-SemiBold, calibri;
    color: black;
}
.nav-item {
    padding-right: 1.5rem;
}
.register-button{
    background-color: var( --base-color) !important;
    border-radius: 20px !important;
    border: 1px solid var( --base-color);
    padding: 20px;
    color: white;
    font-family: Poppins-SemiBold, calibri;
    font-size: 18px;
}
.register-button:hover{
    background-color: white !important;
    color: var(--base-color) !important;
    border: 2px solid var(--base-color) !important;

}
.register-button:focus{
    background-color: white !important;
    color: var(--base-color) !important;
    border: 2px solid var(--base-color) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-nav  a:hover {
    color: var( --base-color) !important;
}
.navbar-nav   a:focus {
    color: var(--price-color)!important;
}
h1 {
    font-size: 5rem;
    font-family: Inter-Bold;
}
.freelance-services {
    color: var(--base-color) !important;
}
.header-laptop-image {
    padding-top: 2.5rem;
    width: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search{
    position: relative;
}
.header-laptop-image img{
    border: none !important;
    border-radius: 20px;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.find-services{
    position: absolute;
    top: -184px;
    left: 21px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 55vw;
}
.Rounded-Rectangle-1{
    position: absolute;
    top: -167px;
    left: -82px;
}
.fa-magnifying-glass{
    color: var(--base-color);
}
.find-service-button{
    background-color: var( --base-color) !important;
    border-radius: 10px !important;
    border: 1px solid var( --base-color);
    padding: 20px 20px;
    color: white !important;
    font-family: Inter-SemiBold;
    font-size: 16px;
}
input{
    border: none !important;
}
input.form-control::placeholder {
    font-size: 15px;
    color: black !important;
    font-weight: 600 !important;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
@media only screen and (min-width: 1023px) and (max-width: 1200px) {
    .navbar-default li a {
        font-size: 0.8rem;
    }
    .nav-item {
        padding-right: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    h1 {
        font-size: 2.75rem;
    }
    .navbar-default li a {
        font-size: 0.8rem;
    }
    .nav-item {
        padding-right: 0.5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 2rem;
    }
    .find-service-button{
        border-radius: 8px !important;
        padding: 10px;
        color: white;
        font-size: 12px;
    }
    .find-services{
        position: absolute;
        top: -104px;
        left: 21px;
        width: 60vw;
    }
}
@media only screen and (min-width: 645px) and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    .find-service-button{
        border-radius: 8px !important;
        padding: 10px;
        color: white;
        font-size: 12px;
    }
    .find-services{
        width: 60vw;
        position: static;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 449px) and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    .find-service-button{
        border-radius: 8px !important;
        padding: 5px;
        color: white;
        font-size: 10px;
    }
    .find-services{
        width: 70vw;
        position: static;
        margin-top: 10px;
        border-radius: 8px;
    }
    input.form-control::placeholder {
        font-size: 0.7rem;
    }
}
@media only screen and (min-width: 358px) and (max-width: 448px) {
    h1 {
        font-size: 2rem;
    }
    .find-service-button{
        border-radius: 8px !important;
        padding: 5px;
        color: white;
        font-size: 0.5rem;
    }
    .find-services{
        width: 70vw;
        position: static;
        margin-top: 10px;
        padding: 0.5rem !important;
        border-radius: 8px;
    }
    input.form-control::placeholder {
        font-size: 0.6rem;
    }
}
@media only screen and (min-width: 288px) and (max-width: 357px) {
    h1 {
        font-size: 1.5rem;
    }
    .find-service-button{
        border-radius: 2px !important;
        padding: 3px;
        color: white;
        font-size: 0.4rem;
    }
    .find-services{
        width: 100%;
        position: static;
        margin-top: 10px;
        padding: 0.5rem !important;
        border-radius: 8px;
    }
    input.form-control::placeholder {
        font-size: 0.5rem;
    }
    .Joberiss {
        font-size: 25px;
    }

}
