@import "variables.css";
@import "fonts.css";
@import "candidates.css";
@import "category.css";
@import "footer.css";
@import "header.css";
@import "jobs.css";
@import "talent.css";
@import "work.css";

h2{
    font-family: Inter-SemiBold;
    font-size: 36px;
}
h3{
    font-family: Inter-SemiBold;
    font-size: 22px;
}
h4{
    font-family: Inter-Regular;
    font-size: 20px;
}
p{
    font-family: Inter-Regular;
}

