.talent-section{
    padding: 5rem 5rem 18rem 5rem;
    margin-bottom: 5rem;
}
.talent-images{
    position: relative;
}
.rounded-rectangle-bodered{
    display: flex;
    position: absolute;
    left: -17px;
    top: -17px;
}

.rounded-rectangle-solid{
    display: flex;
    position: absolute;
    top: 493px;
    left: -9px;
}   
.talent-home-office{
    position: relative;
}
.talent-home-office:before{
    width: 232px;
    content: " ";
    background-image: url(/Public/Images/Rounded-Rectangle-6.png);
    position: absolute;
    left: -38px;
    top: -30px;
    height: 274px;
    z-index: -1;
    background-size: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.talent-home-office:after{
    background-image: url(/Public/Images/Rounded-Rectangle-4.png);
    width: 232px;
    content: " ";
    position: absolute;
    left: -38px;
    bottom: -120px;
    height: 274px;
    z-index: -1;
    background-size: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.talent-paragraph{
    padding: 6rem;
    position: relative;
}
.head-of-idea{
    position: absolute;
    top: 500px;
    left: -101px;
}
.image-place-holder{
    position: absolute;
    top: 500px;
    left: 167px;
}
