.talent-section{
    padding: 5rem 5rem 18rem 5rem;
    margin-bottom: 5rem;
}
.talent-images{
    position: relative;
}
.rounded-rectangle-bodered{
    display: flex;
    position: absolute;
    left: -17px;
    top: -17px;
}

.rounded-rectangle-solid{
    display: flex;
    position: absolute;
    top: 493px;
    left: -9px;
}   
.talent-home-office{
    position: relative;
}
.talent-home-office:before{
    width: 232px;
    content: " ";
    background-image: url(/Public/Images/Rounded-Rectangle-6.png);
    position: absolute;
    left: -38px;
    top: -30px;
    height: 274px;
    z-index: -1;
    background-size: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.talent-home-office:after{
    background-image: url(/Public/Images/Rounded-Rectangle-4.png);
    width: 232px;
    content: " ";
    position: absolute;
    left: -38px;
    bottom: -120px;
    height: 274px;
    z-index: -1;
    background-size: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.talent-paragraph{
    padding: 6rem;
    position: relative;
}
.head-of-idea{
    position: absolute;
    top: 500px;
    left: -101px;
}
.image-place-holder{
    position: absolute;
    top: 500px;
    left: 167px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
    .talent-paragraph{
        padding: 1rem;
    }
    .talent-section{
        padding: 2rem 2rem 18rem 2rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   
    .talent-paragraph{
        padding: 1rem;
    }
    .talent-section{
        padding: 2rem;
        margin-bottom: 2rem;
    }
    .talent-home-office:before{
        background-size: 50%;
    }
    .talent-home-office:after{
        background-size: 50%;
    }
    .talent-footer{
        display: none !important;
    }
    .talent-flex{
        display: block !important;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
   
    .talent-paragraph{
        padding: 1rem;
    }
    .talent-section{
        padding: 2rem;
        margin-bottom: 2rem;
    }
    .talent-home-office:before{
        background-size: 40%;
    }
    .talent-home-office:after{
        background-size: 40%;
    }
    .talent-footer{
        display: none !important;
    }
    .talent-flex{
        display: block !important;
    }
}